body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.infoBox {
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-title {
    color: #0066cc;
    text-align: center;
    font-size: 2.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
    border-radius: 2.5%;
}

.challenges {
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #00509e;
}