@font-face {
    font-family: "Ubuntu";
    src: url("/Assets/Fonts/Ubuntu.ttf");
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

#game {
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: url("Game/Buttons/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%; */
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 75%;
}

#game-container {
  display: block;
  line-height: 0;
  position: relative;
  margin-bottom: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 5px solid #e8e8e8; */
  /* box-shadow: 0px 0px 20px 20px #fff; */
  justify-content: center;
  align-items: center;
}

#game-thumbnail {
  image-rendering: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(66%);
  transition: filter 0.25s ease-in;
  z-index: 1;
}

#game-thumbnail:hover {
  filter: brightness(80%);
}

#play-nav {
  cursor: pointer;
}

#play-button {
  font-family: "Lucida Console", "Courier Prime", monospace;
  display: inline-flex;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  gap: 10px;
  padding: 5px;
  padding-right: 17px;
  border-radius: 15px;
  font-size: 25px;
  color: #ffe8ff;
  background-color: #cc94fc;
  border: none;
  box-shadow: 0px 0px 3px 3px #6434ac;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: filter 0.25s ease-in;
}

#play-button:hover {
  transition: transform 0.25s ease-out;
  transform: translate(-50%, -50%) scale(1.1);
  filter: brightness(110%);
} 

#play-icon {
  width: 75px;
  height: 75px;
  image-rendering: auto;
}

#fullscreen-button {
  display: none;
}

#main-doc {
  position: absolute;
  display: block;
  top: 0px;
  left: 0%;
  width: 100%;
  background-image: url("/Assets/Images/icon_chess.jpeg");
  background-size: 5% auto;
}

#contents {
  margin-left: auto;
  margin-right: auto;
  background-color: #e6c7ff;
  width: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2.5%;
}

nav {
  display: none;
}

.how-to-play, .board-instructions, 
.bot-workings, .code-snippets {
  margin: 10px;
}

.img-link {
  width: 5em;
  height: 5em;
  border-radius: 5px;
}

h2 {
  font-family: "Ubuntu", "Roboto", sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style: solid;
  border-width: 7px;
  background-color: #d8a8ff;
  border-color: #9c3fff;
}

header {
  color: #250c40;
  display: inline;
  border-radius: 5px;
  border-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
}

p, code {
  width: 95%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #37135e;
  background-color: #dfb8ff;
}

hr {
  width: 95%;
  border-style: solid;
  padding-top: 15px;
  border-color: #7d00ff;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

#references-list {
  list-style-type: none;
}

#references-list li {
  display: inline-block;
  padding-right: 1em;
}

#references-list li a img {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #9c3fff;
  transition: border-color 0.5s;
}

#references-list li a img:hover {
  border-color: #685f0d;
}

@media only screen and (min-width: 1000px) {
  #fullscreen-button {
    display: inherit;
  }

  #icon-container {
    position: relative;
    text-align: center;
  }
  
  #icon {
    width: 12vw;
    height: 12vw;
    border-radius: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: #4a4054;
  }

  #icon-text {
    color: #eaf64c;
    text-shadow: 2px 2px 3px #1c0033;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #main-doc {
    left: 15%;
    width: 85%;
  }
  
  nav {
    z-index: 1000;
    display: block;
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #c085ff;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 0px 10px 10px #37135e;
    /* border-right-style: dashed; */
  }

  #nav-list {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    background-color: #d8a8ff;
  }

  .nav-link {
    color: #7d00ff;
    text-decoration: inherit;
    transition: color 0.25s, font-size 0.5s;
  }

  .nav-link:hover {
    color: #685f0d;
    font-size: 20px;
  }

  /* #main-doc {
    position: relative;
    width: 85%;
    left: 15%;
    padding: 0px;
    margin: 0px;
  } */

  p, code {
    width: 50%;
  }
}